body{
    margin: 5%;
    font-family: 'Nanum Myeongjo', serif;
    background-color: lavender;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: none;
    color: black;
}

.card {
    width: 80%;
    margin: 0 auto;
    background-color: lavender;
}

.card:hover{
    background-color: white;
}
.btn-group{
    display: flex;
    align-items:center;
    border: lavender;
}
.btn{
    background-color: lavender;
    border: lavender;
}
.btn:hover{
    background-color: white;
}
h3 {
    font-family: 'Song Myung', serif;
    text-align: center;
    margin-bottom: 3%;
}
h5 {font-family: 'Song Myung', serif;}
p{text-align: center;}